.box-1 {
    position: fixed;
    height: 100px;
    background-color:#999;
    top: 0;
    left: 0;
    text-align: center;

}
p{
    position: relative;
}

.box-2 {
    position: relative;
    width: 600px;
    height: 100px;
    background: #eee;
    top:-300px;
    left:0;
    right:0;
    bottom:0;
    text-align:center;
    padding: 20px;

}

.box-3 {
    position: absolute;
    height: 100px;
    width: 150px;
    background-color: #999;
    right:20px;
    bottom: -10px;
}

header {
    font-size: 400%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
